/*graph {
	fill-mode: image-scaled-ratio-max;
	fill-image: url('C:\Users\Nils Frantzen\git\graphflow\src\main\resources\leHavreStep0.png'); 
}*/
	
node {
	size: 1px;
	fill-color: #777;
	text-mode: hidden;
	z-index: 0;
}

edge {
	size-mode: dyn-size;
	shape: line;
	fill-mode: dyn-plain;
	fill-color:  green, yellow, red;
	arrow-size: 3px, 2px;
	
}

edge.tollway {
/*	size: 2px;*/
	stroke-color: red;
	stroke-width: 1px;
	stroke-mode: plain;
}

edge.tunnel {
	stroke-color: blue;
	stroke-width: 1px;
	stroke-mode: plain;
}

edge.bridge {
	stroke-color: yellow;
	stroke-width: 1px;
	stroke-mode: plain;
}